<li class="main__item">
    <a href="" class="main__link" id="{{id}}">
    <img src="{{poster_path}}" loading="lazy" alt="poster" class="main__img">
    <p class="main__top-text">{{original_title}}</p>
    <p class="main__genres">{{...genre_ids}}|<span class="main__release-date">{{release_date}}</span></p>
    </a>
</li>

